mixin ShowmovieList(a)
 .section1
    .section1-heading
       h2 Phim &dstrok;&#x1EC1; c&#x1EED;
    .section1-film
      .icon-next
        span#icon-next1.ti-control-play
      if a
        each item in a
         .section1-film-container
            .film-container
                a.link-film(href='/watch/'+item.slug title=`${item.name}`)
                img(src= item.poster_url  , alt='')
                span.title #{item.episode_current}
                span.film-name #{item.name}
                .overflow_film
                  .name
                    h4 #{item.name}
                    span #{item.origin_name}
                    span Thời lượng: #{item.time}
                    span Năm: #{item.year}
                    span Quốc gia: #{item.country[0].name}
                .icon-pause
                  span.ti-control-play






mixin ShowmovieList2(a)
 .section1
    .section1-heading
       h2 Phim &dstrok;&#x1EC1; c&#x1EED;
    .section1-film(style="overflow-x: auto; flex-wrap: nowrap;")
      .icon-next
        span#icon-next1.ti-control-play
      - for(var i = 0; i <+ a.length; i++)
        - var randomIndex
        - do {
          - randomIndex = Math.floor(Math.random() * a.length)  // Generate a random number
        - } while (usedIndexes.includes(randomIndex)) // Repeat if the number already exists
        - usedIndexes.push(randomIndex) // Save the used number to avoid duplicates
        .section1-film-container
          .film-container
              a.link-film(href='/watch/'+a[randomIndex].slug title=`${a[randomIndex].name}`)
              img(src= `https://res.cloudinary.com/doppezovj/image/fetch/w_160,h_225,q_auto:good,f_auto/https://phimimg.com/${a[randomIndex].poster_url}` , alt='')
              span.title #{a[randomIndex].episode_current}
              span.film-name #{a[randomIndex].name}
              .overflow_film
                .name
                  h4 #{a[randomIndex].name}
                  span #{a[randomIndex].origin_name}
                  span Thời lượng: #{a[randomIndex].time}
                  span Năm: #{a[randomIndex].year}
                  span Quốc gia: #{a[randomIndex].country[0].name}
                  span Thể loại: #{a[randomIndex].category[0].name}

              .icon-pause
                span.ti-control-play


 